*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    background-color:#DCDCDC;
    color: black;
}

.wrapper{
    max-width: 90%;
    margin: 0px auto;
    background-color: white;
    box-shadow: 3px 2px 5px #808080;
}

/* Formatação do Banner*/
.banner{
    max-width: 100%;
    height: 152px;
    background-color: rgb(22,32,109);
    clear: both;
    border-bottom: 2px solid #CD6600;
}

.banner .center{
    max-width: 50%;
    height: 152px;
    margin: 0px auto;
}

.banner .center .img-header {
    max-width: 50%;
    height: 125px;
    background-image: url(../img/logo_lema.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0px auto;
}

.banner .center .titulo{
    text-align: center;
    color: white;
    font-size: 72%;
}

.banner .left{
    float: left;
    width: 25%;
    height: 152px;
    background-image: url(../img/logo-ufsm-branco-500.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.banner .right{
    float: right;
    width: 25%;
    height: 152px;
    background-image: url(../img/logo-ct-editado.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* Formatação do Formulário */
.main{
    max-width: 90%;
    margin: 55px auto;
}

.main button.voltar{
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(22,32,109,.6);
    border: none;
    border-radius: 10px;
}

.main button.voltar a{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
}

.main button.voltar a i{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.main button.voltar:hover{
    background-color: rgba(191, 109, 15, .8);
    box-shadow: 1px 1px 4px rgba(191, 109, 15, .8);
}

.main h3{
    margin-top: -30px;
    margin-bottom: 40px; 
    text-align: center;
    font-weight: bold;
}

.main form{
    font-size: 16px;
}

.main form label{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main form .ident{
    font-weight: bold;
}


.main .right-outer{
    float: left;
    width: 49%;
    margin: 10px auto;
    text-align: center;
}

.main .right-inner{
    width: 100%;
    float: left;
    position: relative;
}

.main .hora{
    margin: 10px auto;
}

.main .hora .right-inner{
    height: 135px;
}

.main .left-outer{
    float: left;
    width: 50%;
    margin: 10px auto;
    text-align: center;
}

.main .left-inner{
    width: 100%;
    float: left;
    position: relative;
}

.main input, textarea, select{
    width: 350px;
    padding: 10px;
    margin: 20px auto;
    border: 1px solid rgb(22,32,109);
    border-radius: 5px;
    background-color: white;
}

.autocomplete-coddisc, .autocomplete-nomedisc{
    display: none;
    position: absolute;
    width: 100%;
    /* left: 50%;
    margin-left: -50px;  */
    top: 100px;
    z-index: 20;
}

.suggest{
    width: 360px;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(22,32,109);
    font-size: 10pt;
    color: white;
    cursor: pointer;
}

.suggest:hover{
    background-color: #CD6600;
    font-weight: bold;
}

.main #arquivomaterial{
    display: none;
}

.arquivo{
    width: 330px;
    margin: 0 auto;
}

.arquivo .div-label-input{
    float: left;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.arquivo .div-label-arquivo{
    float: left;
    width: 100%;
    font-size: 9pt;
    text-align: center;
}

.arquivo .div-label-arquivo label{
    cursor: pointer;
}

.arquivo .div-label-arquivo i{
    font-weight: bold;
}

.arquivo .div-label-arquivo label:hover .fas{
    text-shadow: 2px 2px 1px rgba(0,0,0,.6);
}

.montec{
    width: 70%;
    display: inline-block;
    list-style: none;
    margin: 14px auto;
}

.montec li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.montec li input{
    width: 20px;
    margin: 10px;
}

.termo-resp{
    list-style: none;
}

.termo-resp li{
    padding: 5px;
    margin: 5px;
}

.aceito{
    margin: 5px auto;
    text-align: center;
}

.aceito label{
    display: inline-block !important;
}

.aceito #aceito{
    width: 20px;
}

.main .acao{
    width: 320px;
    margin: 35px auto;
    clear: left;
}

.main .acao input{
    width: 45%;
    margin: 15px 5px;
    padding: 10px;
    text-align: center;
    font-size: 10pt;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

.main .acao #enviar{
    /* width: 45%; */
    background-color: darkgreen;
}

.main .acao #cancelar{
    /* width: 40%; */
    background-color: darkred;
}

.main .acao #enviar:hover{
    font-weight: bold;
    text-shadow: 2px 2px 2px green;
    border: 1px solid green;
}

.main .acao #cancelar:hover{
    font-weight: bold;
    text-shadow: 2px 2px 2px red;
    border: 1px solid red;
}

fieldset{
    border-radius: 25px;
}

fieldset legend{
    margin: 0 auto;
    font-size: 17px;
}

.curso{
    width: 100%;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    clear: left;
}

.curso input{
    width: 20px;
}

.curso table{
    width: 100%;
    /* border: 1px solid green; */
}

.curso table td{
    width: 50%;
    font-size: 13px;
    padding: 5px
    /* border: 1px solid red; */
}

.curso table td label{
    display: inline-block;
    margin: 15px auto;
}

.curso #outro{
    width: 250px;
    height: 10px;
}

.setor{
    width: 100%;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    clear: left;
}

.setor input{
    width: 20px;
    margin: 15px auto;
}

.setor table{
    width: 100%;
}

.setor table td{
    font-size: 13px;
    width: 50%;
    padding: 5px;
}

.setor table td label{
    display: inline-block;
    margin: 15px auto;
}

/* Formatação do Calendário */
.calendario-outer{
    float: left;
    width: 50%;
    margin: 43px auto 77px;
    text-align: center;
}

.calendario{
    position: relative;
    width: 95%;
    margin: 20px auto;
    font-size: 12pt;
    text-align: center;
}

.calendario span{
    margin: 0px auto -5px auto;
    font-size: 11pt;
}

.calendario .mes{
    display: none;
}

.calendario td{
    /* height: 20px; */
    padding: 3px;
    background-color: #ededed;
    cursor: pointer;
}

.calendario .dia{
    display: none;
    width: 0;
    padding: 0;
    margin: 0;
}

.calendario label{
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0px;
    margin: 0px !important;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.calendario #ant, #prox{
    position: absolute;
    top: 1px;
    padding: 5px 8px;
    font-size: 12px;
    text-decoration: none;
    background-image: linear-gradient(to bottom, #fff, #ccc);
    border: 1px solid #ccc;
}

.calendario #ant{
    left: 3px;
}

.calendario #prox{
    right: 3px;
}

.calendario #ant:hover, #prox:hover{
    background: linear-gradient(bottom, #ccc, #fff, 130%);
}

.vertical-right{
    float: right;
    width: 1px;
    height: 1750px;
    margin-right: -25px; 
    border-right: 1px solid #CD6600;
}

.vertical-left{
    position: absolute;
    float: left;
    width: 1px;
    height: 1750px; 
    margin-left: -25px;
    border-left: 1px solid #CD6600;
    /* clear: left; */
}

@media screen and (max-width:930px){
    .banner .left{
        background-size: 90%;
    }

    .banner .right{
        background-size: 65%;
    }

    .banner .center .img-header{
        background-size: 70%;
    }

    .banner .center .titulo{
        font-size: 10px;
    }

    .main input, textarea, select{
        width: 250px;
    }

    .suggest{
        width: 260px;
    }

    .curso table td input, .setor table td input{
        width: 20px;
    }

    .curso table td, .setor table td{
        font-size: 11px;
    }
}

@media screen and (max-width:800px){
    .vertical-right, .vertical-left{
        height: 2100px;
    }
}

@media screen and (max-width:710px){
    .wrapper{
        min-width: 360px;
        height: auto;
    }

    .banner .left{
        float: right;
    }

    .banner .center{
        position: relative;
        margin: 0;
    }

    .banner .center .img-header{
        width: 50%;
        height: 150px;
        float: right;
    }

    .banner .center .titulo{
        position: absolute;
        width: 50%;
        height: 40px;
        top: 53px;
        font-size: 8px;
    }

    /* .main input, textarea, select{
        width: 200px;
    }  */

    .main form{
        font-size: 14px;
    }

    .main h3{
        font-size: 14px;
    }

    .main input, textarea, select{
        width: 70%;
    }

    .autocomplete-coddisc, .autocomplete-nomedisc{
        position: relative;
        top: -20px;
    }

    .suggest{
        width: 72%;
    }

    .main .left-outer, .main .right-outer{
        width: 100%;
    }

    .curso input{
        width: 20px;
        margin: 15px auto;
    }

    .setor{
        width: 100%;
    }

    .setor table td, .curso table td{
        font-size: 11px;
    }

    .calendario{
        font-size: 11pt;
    }

    .calendario-outer{
        width: 100%;
    } 

    .calendario{
        width: 320px;
    }

    .vertical-right{
        height: 2300px;
        margin-right: -15px;
    }

    .vertical-left{
        height: 2300px;
        margin-left: -15px;
    }
}

@media screen and (max-width:670px){
    .vertical-right, .vertical-left{
        height: 3200px;
    }
}
